body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #E8D8C4;
}
.ico{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.container{
    text-align: center;
    background: #6D2932;
    margin-top: 100px;
    width: 320px;
    height: 350px;
    margin: auto;
    border-radius: 12px;
    border: 5px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}
.transText{
    padding: 20px;
    text-align: justify;
    position: relative;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.next p {
    color: #C7B7A3;
    cursor: pointer;
    opacity: 0; 
}

.next p:hover{
    color: bisque;
}


/* hal todolist */
.body2{
    background: #222831 ;
}
.ico2{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    color: #EEEEEE;
}
.container2 {
    width: 400px;
    height: 520px;
    margin: auto;
    /* border: 1px solid #E8D8C4; */
    border-radius: 5px;
}

.container2 .btn {
    display: flex; 
    justify-content: space-between; 
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 8px;
    border-bottom: 2px solid white;
}
.exit{
    background: #6D2932;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
.keluar{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
.cont-lms {
    background: #4F6F52;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
.lms {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 6px;
}
#new-task-form{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: #393E46;
    padding: 10px;
    border-radius: 10px;
    margin-right: 0.5rem;
    color: #EEEEEE;
    font-size: 14px;
}
#new-task-input::placeholder{
    color: #EEEEEE;
}
#new-task-submit{
    color: rgb(97, 227, 16);
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover{
    opacity: 0.8;
}
#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 20px;
    font-weight: 300;
    color: rgb(33, 241, 1);
}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
}
#tasks .task .content{
    flex: 1 1 0%;
}

#tasks .task .content .text{
    color: #EEEEEE;
    font-size: 12px;
    width: 100%;
    display: block;
    transition: 0.4s;
}
#tasks .task .content .text:not(:read-only){
    color: rgb(241, 1, 1);
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    transform: 0.4s;
}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}
.task .actions .edit {
    color: #F4CE14; /* warna kuning untuk tombol Edit */
}

.task .actions .delete {
    color: #01aaff; /* warna biru untuk tombol Delete */
}
